<div class="card container text-center d-flex align-items-center" style="width: 25%;">
    <div class="card-body">
        <form >
            <div class="mb-3 ">
              <label for="exampleInputEmail1" class="form-label">Usuario</label>
              <input type="email" class="form-control " style="width: 100%" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" style="width: 100%" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Secion</button>
        </form>
    </div>
  </div>

