<nav class="navbar navbar-expand-lg bg-red">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/img/logoargentinaprograma.png" alt="Bootstrap" class="w-50">
        </a>
  
        <ul class="list-group list-group-horizontal">
  
            <li class="list-group-item"><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://github.com/"><i class="fa-brands fa-github fa-2x text-white"></i></a></li>
            <li class="list-group-item "> <button type="button" class="btn btn-primary" (click)="login()">Ingreso</button></li>
                


                <!-- 
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">
                    <i class="fa-solid fa-user-lock text-white"></i>
                </button>
                Boton para el login -->
            
  
        </ul>
  
        
    </div>
  
  </nav>